<div id="<%= dom_id conversion %>">
  <p>
    <strong>Base currency:</strong>
    <%= conversion.base_currency %>
  </p>

  <p>
    <strong>Target currency:</strong>
    <%= conversion.target_currency %>
  </p>

  <p>
    <strong>Conv count:</strong>
    <%= conversion.conv_count %>
  </p>

  <p>
    <strong>Conv date:</strong>
    <%= conversion.conv_date %>
  </p>

</div>
