<div id="<%= dom_id conversion %>">
  <p>
    <strong>Base currency:</strong>
    <%= conversion.base_currency %>
  </p>

  <p>
    <strong>Target currency:</strong>
    <%= conversion.target_currency %>
  </p>
  <p>
    <strong>Base amount:</strong>
    <%= @base_amount %>
  </p>

 
  <p>
    <strong>Amount:</strong>
    <%= @result.to_s+" #{@conversion.target_currency}" %>
  </p>

</div>
