<%= form_with(model: conversion) do |form| %>
  <% if conversion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(conversion.errors.count, "error") %> prohibited this conversion from being saved:</h2>

      <ul>
        <% conversion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :base_currency, style: "display: block" %>
    <%= form.text_field :base_currency %>
  </div>

  <div>
    <%= form.label :target_currency, style: "display: block" %>
    <%= form.text_field :target_currency %>
  </div>
  <div>
    <%= form.label :base_amount, style: "display: block" %>
    <%= form.number_field :base_amount %>
  </div>
  
<div>
</div>
  <div>
  <%= form.submit %>
  </div>
<% end %>

